.app {
    display: grid;
    grid-template-rows: 150px auto;
    margin-top: 3rem;
}

.app_main {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 8%;
}

.task_column {
    width: 33.33%;
    margin: 20px;
}
